.create-task {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border: 1px solid $border-default-disabled;
    border-radius: 4px;
    height: 100%;
    
    &__title {
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        padding: 10px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .form {
        &__fields {
            padding: 32px 24px 24px 24px;
        }
        &__group {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            width: 672px;
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
        &__label {
            width: 120px;
            color: $font-disabled;
            cursor: pointer;
            span {
                color: $font-error;
            }
        }
        &__input {
            width: 100%;
        }
        &__btns {
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            gap: 24px;
        }
    }
    .line {
        background-color: $border-default-disabled;
        height: 1px;
        width: 100%;
    }
}


