.global-btn {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid $bg-secondary;
    border-radius: 4px;
    gap: 13px;
}

.global-btn__blue {
    background-color: $bg-primary-default;
    color: $font-secondary;
    &:hover {
        background-color: $bg-primary-hover;
    }
    &:active {
        background-color: $bg-primary-active;
    }
}

.global-btn__white {
    padding: 13px 18px;
    justify-content: center;
    background-color: $bg-secondary;
    color: $font-primary-default;
    border-color: $border-default-disabled;
    &:hover {
        background-color: $bg-secondary-hover;
        border-color: $border-hover;
    }
    &:active {
        background-color: $bg-secondary-active;
        border-color: $border-active;
    }
}

.menu-btn {
    border: 1px solid $bg-secondary;
    background-color: transparent;
    color: $font-secondary;
    &_active {
        background-color: $bg-secondary;
        color: $font-primary-default;
        cursor: default;
    }
    &:hover {
        background-color: $bg-secondary-hover;
        color: $font-primary-default;
    }
    &.menu__btn_active:hover {
        background-color: $bg-secondary;
    }
}

.dropdown-btn {
    padding: 8px 16px;
    background-color: transparent;
    border-color: transparent;
    svg{
        color: $font-secondary;
    }
    &_active{
        background-color: $bg-secondary;
        svg{
            color: $bg-secondary-active;
            transform: rotate(-180deg);
        }
    }
    &:hover {
        border-color: $bg-secondary;
    }
}